@model IEnumerable<Master.Models.Logs>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Output)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pid)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Output)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pid)
            </td>
        </tr>
}
    </tbody>
</table>
