@model IEnumerable<Master.Models.GroupsNodes>

@{
    ViewData["Title"] = "Index";
}

<form>
    <input type="hidden" />
    <input asp-action="Create" type="submit" value="Create New GroupNodes" class="btn btn-success" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Node.Host)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Node.Port)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Node.Host)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Node.Port)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a style="color: crimson;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
